body{

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: auto;
background-color: rgb(229, 232, 236);
font-family: 'Courier New', Courier, monospace;

}

.card{
width: 250px;
padding: 60px;
border-radius: 25px;
background-color: rgb(104, 145, 200);
text-align: center;

}
